
.containe-all-order {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.order-container1 {
    font-family: Roboto;
}

.order-item  {
    border : 1px solid #D5D9D9;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 7px;
    margin: 5px 0px;
    .order-item-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #D5D9D9;
        background-color: #F0F2F2 !important;
        box-sizing: border-box;
        padding: 5px;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .order-item-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        .order-item-button {
            display: flex;
            flex-direction: column  ;
            gap: 10px;
        }
    }

    .order-item-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    .order-item-img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;
    }
   
    img {
        height: 70px;
        width: 70px;
    }
}

